<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row pb-5 mb-0 border-bottom">
        <div class="col-10">
          <span class="fs-1">Message Board</span>
        </div>
        <div class="col d-flex">
          <%= link_to "Create Post", new_post_path, class: "btn btn-primary my-auto", data: { turbo_frame: "post_remote_modal" } %>
        </div>
      </div>
      <% @posts.each do |post| %>
        <div class="row py-4 border-bottom">
          <div class="col">
            <a href="/posts/<%= post.id %>" class="text-decoration-none">
              <div class="row">
                <span class="fs-4 pb-2"><%= post.title %></span>
              </div>
            </a>
            <i class="mt-0 fs-6 text-muted">
              Posted by <strong><%= post.author.name %></strong> on <%= post.created_at.strftime("%A, %B %d, %Y") %>
            </i>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-2 offset-10 py-4">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
